* {
    padding: 0;
    margin: 0;
	font-family: Raleway, sans-serif;
    color: rgb(62, 62, 62);
}

html {
    height: 100%;
}

body {
	background: linear-gradient(55deg, #f4dfc5, #e7793e);	
    background-repeat: round;	
    height: 100%;
}

#page {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#title-wrapper {
    text-align: center;
    position: relative;
    padding-bottom: 30px;
}

#title {
    font-size: 125px;
}
#paragraph-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#signup-button, #signup-button:hover {
    border: none;
    background-color: #ffffff;
    font-size: 16px;
    text-decoration: underline;
    color: #e7793e;
    cursor: pointer;
}

#form-card-wrapper {
    display: flex;
	align-items: center;
	justify-content: center;
}

#login-window{
    border-radius: 25px;
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
    background: white;	
	position: relative;	
	height: 500px;
	width: 800px;	
	box-shadow: 0px 0px 24px #9b644b;
}

.input {
    border: none;
	border-bottom: 2px solid #ee9229;
	background: none;
	padding: 10px;
	font-weight: 700;
}

.input:hover {
    box-shadow: 0px 0px 10px #9b644b;
}

#username-wrapper {
    position: relative;
    padding: 20px 20px;
}

#password-wrapper{
    position: relative;
    padding: 20px 20px;
}

#button-wrapper{
    position: relative;
    text-align: center;
}


#submit-form-button {
    padding:0.6em 2em;
    border-radius: 8px;
    color:#fff;
    background-color:#e7793e;
    font-size:1.1em;
    border: solid white 1px;
    cursor:pointer;
    margin:1em;
}

#submit-form-button:hover {
    padding:0.6em 2em;
    border-radius: 8px;
    color:#ee9229;
    background-color:#ffffff;
    box-shadow: 0px 0px 10px #9b644b;
    font-size:1.1em;
    border: solid #ee9229 1px;
    cursor:pointer;
    margin:1em;
}

#fallback-href{
    color: white;
    text-decoration: underline;
}
